@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.checkboxLabel {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: #b23386;
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.disabled {
  color: #aeaaae;
  cursor: not-allowed;
}
