.btn {
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  border-radius: 50%;
  list-style: none;
  margin-inline: 5px;
}

.btn:hover {
  background: #c9c5ca;
}

.btn:disabled {
  background: #e6e1e5;
  color: black;
}
