@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.paginationItem {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 32px;
  width: 32px;
  height: 32px;
}

.rightIcon,
.leftIcon {
  width: 16px;
  height: 16px;
  color: #e6e1e5;
}

.paginationItem:hover {
  border-radius: 50%;
  background: #c9c5ca;
}

.selected {
  border-radius: 50%;
  /*background: #e6e1e5;*/
  background: red;

}

.dots:hover {
  background: transparent;
  cursor: default;
}

.disabled {
  background: blue;
  color: red;
}

svg {
  height: 16px;
  width: 16px;
}
